{% extends "/partials/base.html" %}
{% block title %}Decrypt link{% endblock title %}
{% block content %}
<div class="main flex-ct">
    <div class="wrap-sm flex-column">
        {% if message %}<div class="alert alert-{{message.Type}} text-center mt-2" role="alert">{{message.Text}}</div>{% endif %}

        <div class="card">
            <div class="card-header text-center"><i class="fa fa-lock"></i> Authentication Required</div>
            <div class="card-body">
                <form method="POST">
                    <div class="input-group">
                        <input type="password" name="decrypt" id="decrypt_string" class="form-control form-control-lg input-focus" placeholder="Decrypt string" autofocus required>
                        <span class="input-group-append">
                            <button class="btn btn-primary" type="submit">Expand</button>
                        </span>
                    </div>
                </form>
            </div>

            {% include "/partials/card_footer.html" %}
        </div>
    </div>
</div>
{% endblock content %}
