{% extends "/partials/base.html" %}
{% block title %}Shorten a link{% endblock title %}
{% block content %}
<div class="main flex-ct">
    <div class="wrap flex-column">
        <div class="card">
            <div class="card-block">
                <form method="POST" action="/">
                    <div class="row">
                        <div class="col-sm-12 col-md-3">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                <input type="password" name="encrypt" id="encrypt_string" class="form-control form-control-lg" placeholder="Encryption">
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-9">
                            <div class="input-group">
                                <input type="text" name="url" class="form-control form-control-lg input-focus" placeholder="Shorten a link" required autofocus>
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="submit"><i class="fa fa-compress"></i> Shorten</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            {% include "/partials/card_footer.html" %}
        </div>

        {% if link %}
            <div class="alert alert-success show mt-2 text-center" role="alert">
                <strong>Shortened link</strong>: <code><a href="{{link.URL}}">{{link.URL|truncatechars:30}}</a></code> -&gt; <code><a href="{{link.Short}}">{{link.Short}}</a></code>
                <button class="btn btn-sm btn-primary clip" data-clipboard-text="{{link.Short}}"><i class="fa fa-clipboard"></i> copy to clipboard</button>
            </div>
        {% endif %}

        {% for msg in messages %}<div class="alert alert-{{msg.Type}} text-center mt-2" role="alert">{{msg.Text}}</div>{% endfor %}
    </div>
</div>
{% endblock content %}
