html, body, .main {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.flex-ct {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
}

.wrap {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.wrap-sm {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.wrap-md {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 1050px) {
    .wrap {
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
    }
}

.main .card-header {
    padding: 7px 13px;
}

.main .card-footer {
    padding: 6px 13px 9px;
}

.main .card-footer a, .main .card-footer a:link, .main .card-footer a:visited, .main .card-footer a:hover {
    color: #383838;
}
