html, body {
    height: 100%;
    width: 100%;
}

a, a:hover, a:visited {
    color: black;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    padding-top: 100px;
}

.container .padded {
    padding-top: 100px;
}

.footer {
    margin-top: 5px;
}

.enabled {
    background-color: #008cba;
    color: #FFFFFF;
}

.input-lg {
    height: 45px;
    font-size: 21px;
    padding: 8px 10px;
}

.notification {
    padding: 8px 10px;
    margin-bottom: 0px;
    text-align: center;
}

#shortener {
    margin-top: 5px;
}

#pw-container {
    margin-left: auto;
    margin-right: auto;
    width: 350px;
}

#submit-btn {
    font-size: 20px;
}

/* more.. mobile specific */
@media (max-width: 600px) {
    .container {
        width: 100%;
        padding-top: 100px;
    }

    #pw-container {
        width: 90%;
    }
}
