<div class="card-footer text-muted">
    <span class="pull-left">
        <span class="badge badge-primary">{{stats_redirects}} redirected</span>
        <span class="badge badge-info">{{stats_shortened}} links generated</span>
    </span>

    <span class="pull-right">
        {%if url.Path != "/" %}<a href="/">home</a> |{% endif %}
        <a href="/-/abuse">abuse</a> |
        <a href="https://github.com/lrstanley/links#api">api</a> |
        <a href="https://github.com/lrstanley/links" title="{{version}}, commit {{commit}}">links</a>
    </span>
</div>
