{% extends 'base.html' %}
{% block title %}Encrypted URL{% endblock title %}
{% block page %}
  <div style="margin-top: 200px;"></div>
  <center>
    <h1>Enter password:</h1>
    <div id="password-container">
      <div id="messages"></div>
      <div class="input-group" id="password">
        <input type="password" class="form-control input-lg input-block" id="encryption" placeholder="Encryption passcode">
        <span class="input-group-btn">
          <button class="btn btn-primary input-lg" type="button" data-loading-text="Forwarding..." id="submit-btn" onclick="decrypt();">Go to URL</button>
        </span>
      </div><!-- /input-group -->
      {% include 'footer.html' %}
    </div>
  </center>
{% endblock page %}
