{% extends 'base.html' %}
{% block content %}{% raw %}
<div class="container center-block" id="pw-container" ng-controller="pwCtrl">
  <h1 class="text-center">Enter password:</h1>
  <div ng-show="error" class="alert alert-danger notification"><b>Warning!</b> {{error}}</div>
  <div ng-class="{'has-error': error, 'has-success': success}" class="input-group">
    <input
           ng-model="passwd" type="password" class="form-control input-lg input-block"
           ng-trim="false" id="encryption" placeholder="Passcode"
           ng-keypress="($event.keyCode == 13 && passwd) && decrypt()" id="passwd">
    <span class="input-group-btn">
      <button
              ng-class="{'disabled': !passwd || decrypting}" class="btn btn-primary input-lg" type="button"
              data-loading-text="Forwarding..." id="submit-btn" ng-click="decrypt()">Go to URL</button>
    </span>
  </div>
</div>
{% endraw %}{% endblock content %}