<!-- About us modal -->
<div class="modal fade" id="about" tabindex="-1" role="dialog" aria-labelledby="About us" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="about-label">About us -- More information</h4>
      </div>
      <div class="modal-body">
        <p>Links.ml is a free URL shortening service using Python-flask, MySQL and Bootstrap. Links.ml has an API so you can easily implement it into your website/service/bot/script!</p>
        <p class="text-center">
          <a target="_blank" href="https://liamstanley.io" class="btn btn-sm btn-primary">Author</a>
          <a target="_blank" href="https://github.com/Liamraystanley/links.ml" class="btn btn-sm btn-warning">Source</a>
        </p>
      </div>
    </div>
  </div>
</div>
